<div class="container">
  <header-menu
    [title]="'CHANGE_PASSWORD_TITLE'"
    [showBackBtn]="true"></header-menu>

  <div class="content">
    <div class="notification error" *ngIf="model.error">
      <i class="notification_icon fas fa-exclamation-triangle"></i>
      {{ model.error | translate }}
    </div>

    <div class="fill">
      <form
        #changePasswordForm="ngForm"
        id="change-password-form"
        class="login_form"
        autocomplete="off"
        spellcheck="false"
        autocapitalize="off"
        *ngIf="!model.showProgress"
        [ngClass]="{ padding_when_notification: model.error }"
        (ngSubmit)="submit()">
        <div id="input-container">
          <div class="login_input">
            <i class="fal fa-lock-open-alt"></i>

            <input
              id="current-password"
              required
              class="password"
              autofocus
              name="currentPassword"
              type="text"
              size="13"
              autocomplete="off"
              spellcheck="false"
              autocapitalize="off"
              [(ngModel)]="model.currentPassword"
              #currentPassword="ngModel"
              placeholder="{{ 'CHANGE_PASSWORD_FORM_CURRENT' | translate }}" />
          </div>

          <div class="login_input">
            <i class="fal fa-unlock-alt"></i>

            <input
              id="new-password"
              required
              class="password"
              autofocus="true"
              name="password"
              type="text"
              size="13"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              [(ngModel)]="model.password"
              #password="ngModel"
              placeholder="{{ 'CHANGE_PASSWORD_FORM_NEW' | translate }}" />
          </div>

          <div class="login_input">
            <i class="fal fa-lock-alt"></i>

            <input
              id="new-password-repeat"
              required
              class="password"
              name="passwordRepeat"
              type="text"
              size="13"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              [(ngModel)]="model.passwordRepeat"
              #passwordRepeat="ngModel"
              placeholder="{{ 'CHANGE_PASSWORD_FORM_REPEAT' | translate }}" />
          </div>

          <div class="button_container">
            <button
              id="submit"
              class="button"
              type="submit"
              [disabled]="!changePasswordForm.form.valid">
              {{ "CHANGE_PASSWORD_FORM_CHANGE_BUTTON" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
