<div *ngIf="showLogo" id="logo">
  <img
    src="./assets/product-flavor/images/header.svg"
    alt="{{ 'LOGO_ARIA' | translate }}"
    (click)="clickLogo()"
    [ngClass]="{ clickable: canClickLogo() }" />
</div>

<nav id="header" *ngIf="!showLogo">
  <div class="header-left">
    <button
      id="back-button"
      type="button"
      class="button"
      *ngIf="showBackBtn"
      (click)="goBack()">
      <i aria-hidden="true" class="fal fa-arrow-left"></i>
    </button>

    <button
      id="change-password-button"
      type="button"
      class="button"
      *ngIf="showChangePasswordBtn"
      (click)="goChangePassword()">
      <i aria-hidden="true" class="fal fa-user-lock"></i>
    </button>
  </div>

  <div class="header-center">
    <h1 id="header-title" [innerHtml]="title"></h1>
  </div>

  <div class="header-right">
    <button
      id="menu-button"
      type="button"
      class="button"
      *ngIf="showHomeBtn"
      (click)="goHome()">
      <i aria-hidden="true" class="fal fa-home"></i>
    </button>

    <button
      id="logout-button"
      type="button"
      class="button"
      *ngIf="showLogoutBtn"
      (click)="goLogout()">
      <i aria-hidden="true" class="fal fa-sign-out"></i>
    </button>
  </div>
</nav>
